@import "../../vars.css";

.card_container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.card_image {
  margin-bottom: 26px;
}

.card_title {
  font-size: 25px;
  font-weight: 700;
}

.card_description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.card_skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.card_skill {
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color-dark);
  border-radius: 100px;
  padding: 2px 22px;
}

.card_links {
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.card_link {
  color: var(--color-text);
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 1px 22px;
}
